.sidebar{
    background-color: var(--slack-color);
    border-top: 1px solid #49274b;
    max-width: 260px;
    color: white;
}
.sidebar > hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #49274b;
}
.sidebar_header{
    display: flex;
    border: 1px solid #49274b;
    padding-bottom: 10px;
    padding: 13px;
}
.sidebar_info{
    flex: 1;
}
.sidebar_info > h2{
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;
}
.sidebar_info > h3{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}
.sidebar_info > h3 > .MuiSvgIcon-root{
    color: green;
    margin-top:1px ;
    margin-right: 2px;
    font-size: 14px;

}
.sidebar_header > .MuiSvgIcon-root{
    padding: 8px;
    color: #49274b;
    font-size: 18px;
    background-color: white;
    margin-left:30%;
    border-radius: 999px;
}