.sidebarOption{
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    padding-left: 2px;

}
.sidebarOption:hover{
    opacity: 0.9;
    background-color: #340e36;
}
.sidebarOption_icon{
    padding: 10px;
    font-size: 15px !important;
}
.sidebarOption_channel{
    padding: 10px 0;
    margin-left: 12px;
}
.sidebarOption_hash{
    padding: 10px 0;
    margin-right: 13px;
}
.sidebarOption > h3{
    font-weight: 500;
}